@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Кадровое агентство способствует трудоустройству безработных граждан.</h1>
</div>
